[build]
builder = "railpack"

[deploy]
startCommand = "uv run uvicorn app.main:app --host 0.0.0.0 --port $PORT --no-access-log"
healthcheckPath = "/health"
healthcheckTimeout = 30
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
#sleepApplication = true
